.InfoCardContainer{
    width:20em;
    height: 25em;
    padding: 20px;
    position: relative;
    border-radius: 5%;
    background: #C8E0CA;
    /* border: solid 2px #013237; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
}

.InfoCardContainer img{
    position: absolute;
    width: 100%;
    top:0; 
}

.InfoCardTop{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    
}

.InfoCardTop a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FCF7F4;
    font-weight: 700;
}

.InfoCardTop a:hover{
    color: #F7B318;
}

.InfoCardContainer h2{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    color:#FCF7F4;
    font-family:Montserrat;
    z-index: 1;

}

.InfoCardBottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    padding: 1em 2em;
    /* background-color: rgb(200, 224, 202, 0.5); */
    background: linear-gradient(0deg, rgba(200,224,202,1) 0%, rgba(200,224,202,0.5956976540616247) 85%, rgba(200,224,202,0) 100%);
    z-index: 1;

    position:absolute;
    bottom:1em;
    width: 90%;
}

.InfoCardBottomText{
    color: #013237;

}

.InfoCardBottom h1{
    font-family:Montserrat;
    text-align: left;
}



.InfoCardBottom h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
}

.InfoCardBottom span{
    display: flex;
    width: 20em;

    font-weight: 900;
    font-family:Montserrat;
    text-align: left;
}

/* Tablet */
@media (max-width: 820px) {
    .InfoCardContainer img{
        height: 55%;
        width: auto;
    }
}

/* Phone */
@media (max-width: 414px) {
    .InfoCardContainer{
        
    }

}