.WorkExperiencesContainer{
    margin: 2em 0 2em 0;
}

.WorkExperienceCards{
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.WorkExperiencesTitle{
    font-family: Montserrat;
    color:#013237;
    margin: 50px 0px;
}