.AboutExperiencesContainer{
    width: 80%;
}

.AboutExperienceCards{
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.AboutExperiencesTitle{
    font-family: Montserrat;
    color:#013237;
    margin: 50px 0px;
}