.LandingLeftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px 20px 30px;

    width: 80%;
    max-width: 400px;
    color: #013237;
}

.LandingLeftContainer h1{
    color:#013237;
}

p{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.LandingButton{
    background-color: #F7B318;
    padding: 30px 60px 30px 60px;
    border: none;
    border-radius: 5%;
    margin: 32px 0px 32px 0px;
    
    font-size: 20px;
    color: #013237;
}

/* Tablet
@media (max-width: 820px) {
    .LandingButton{
        background-color: red;
        padding: 30px 60px 30px 60px;
        border: none;
        border-radius: 5%;
        
        font-size: 20px;
        color: #013237;
    }
}

/* Phone 
@media (max-width: 414px) {
    .LandingButton{
        background-color: red;
        padding: 30px 60px 30px 60px;
        border: none;
        border-radius: 5%;
        
        font-size: 20px;
        color: #013237;
    }
} */