/* import image from "./../IMG_8003.JPG"; */

.AboutRightContainer{
    margin: 0em 3em 0em 5em;
    
}

.AboutLeaf{
    width:250px;
    height: 250px;
    border-radius: 0% 50% 50% 50%;
    background-color: #145858;
    
    margin-bottom:-150px;

}

.AboutCircle{
    height: 100px;
    width: 100px;
    border: 40px solid #C8E0CA;
    border-radius: 50%;
    
    margin-left: 300px;
    margin-top: 150px;

    position:relative;
    z-index: 1;
}

.AboutLeafDesign{
    width:300px;
    height: 400px;
    background-color: #F7B318;
    border-radius: 55em 55em 0em 0em;
    margin-top:-350px;
    margin-left:100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.AboutLeafInsideDesign{
    border: 5px solid white;
    width:250px;
    height: 350px;
    background-color: #F7B318;
    border-radius: 55em 55em 0em 0em;
    
}
